{% extends 'base.html' %}

{% load static %}

{% block titulo %}
  Benefícios
{% endblock %}

{% block conteudo %}
    <section class="caixa"><!--/Início seção saiba -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="align-self-center">
              <h2>Benefícios</h2>
              <p>
                Com o Finans, você categoriza todos os seus lançamentos. Com gráficos simples, você sabe de onde vem e para onde vai o seu dinheiro.
              </p>

              <table border= "4">
                <tr>
                  <th> <strong>id: </strong> </th>
                  <th> <strong>nome: </strong> </th>
                  <th> <strong>porcentagens: </strong> </th>
              </tr>
                {% for dbs in db %}
                <tr>
                <td> {{dbs.id}} </td>
                <td> {{dbs.nome}} </td>
                <td> {{dbs.preco}} </td>
                </tr>
              {% endfor %}
              </table>

            </div>
          </div>
        </div>
      </div>
    </section><!--/FIM seção saiba -->

{% endblock %}